<div class='container'>

  <div class='row'>
    <% @divisions.each do |division| %>
    <div class="col text-center">
      <%= link_to image_tag(division.icon.url(:thumb).to_s,
                  class: 'rounded mx-auto d-block'), division_path(division) %></br>
      <%= division.title %><br>
      <% if current_user.admin? %>
        <%= link_to 'Редактировать', edit_division_path(division) %> |
        <%= link_to 'Удалить', division_path(division),
                    method: :delete,
                    data: { confirm: 'Вы уверены?' } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<% if current_user.admin? %>
  <%= link_to 'Создать', new_division_path, class: 'btn btn-primary' %>
<% end %>
