<table class="table">
  <tr>
    <th colspan="5"></th>
  </tr>

  <% @divisions.each do |division| %>
    <tr>
      <td><%= division.name %></td>
      <td><%= division.logo %></td>
      <td><%= link_to 'Показать', division_path(division) %></td>
      <% if current_user.admin? %>
        <td><%= link_to 'Редактировать', edit_division_path(division) %></td>
        <td><%= link_to 'Удалить', division_path(division),
          method: :delete,
          data: { confirm: 'Вы уверены?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.admin? %>
  <%= link_to 'Создать', new_division_path, class: 'btn btn-primary' %>
<% end %>
