<div class="container">
  <%= link_to 'Редактировать', edit_division_path(@division) %> |
  <%= link_to 'Назад', divisions_path %>

<div class="row justify-content-center">
  <h2><%= @division.title %></h2>
</div>

<div class='row'>
  <%= render @division.galleries %>
</div>

<% if current_user.admin? %>
  <%= render 'galleries/form' %>
<% end %>
</div>
