<p>
  Добавить документ
</p>
<%= form_with(model: [ @gallery, @gallery.pdfs.build ], local: true) do |form| %>
  <p>
    <%= form.label 'Заголовок' %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label 'PDF файл' %><br>
    <%= form.file_field :pdf_file %>
  </p>
  <p>
    <%= form.label 'Заставка' %><br>
    <%= form.file_field :icon %>
  </p>
  <p>
    <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
  </p>
<% end %>
