<%= link_to 'Назад', division_path(@gallery.division_id) %>

<div class='row justify-content-center'>
  <h2><%= @gallery.title %></h2>
</div>

  <div class ='row'>
    <% @gallery.images.each_with_index do |image, index| %>
      <div class='col-3 text-center align-self-start'>
        <%= link_to image_tag(image.url(:thumb).to_s, class: 'rounded mx-auto d-block' ), image.url.to_s,
            data: { fslightbox: 'gallery'}%>
        <% if current_user.admin? %>
          <%= link_to 'Удалить', gallery_image_path(@gallery, index),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %>
        <% end %></br>
      </div>
    <% end %>
  </div>

  <div class='row'>
    <%= render @gallery.movies.order(:title) %>
  </div>

<% if current_user.admin? %>
  <%= form_for @gallery, url: gallery_images_path(@gallery), method: :post do |form| %>
    <p>
      Добавить изображения
    </p>
    <p>
      <%= form.file_field :images, multiple: true %>
    </p>
    <p>
      <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
    </p>
  <% end %>

  <%= form_with(model: [ @gallery, @gallery.movies.build ], local: true) do |form| %>
    <p>
      Добавить видео
    </p>
    <p>
      <%= form.label 'Заголовок' %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label 'Видео файл' %><br>
      <%= form.file_field :video_file %>
    </p>
    <p>
      <%= form.label 'Заставка' %><br>
      <%= form.file_field :icon %>
    </p>
    <p>
      <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
    </p>
  <% end %>
<% end %>
