<!DOCTYPE html>
<html>
  <head>
    <title>Museum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class='wrapper'>

      <!-- Навигация -->
      <% unless current_page?(root_path) %>

        <nav class="navbar navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        <div class="collapse" id="navbarToggleExternalContent">
          <div class='container-fluid'>
            <ul class='navbar-nav'>
              <%= link_to 'Вернутся на главную', root_path, class: 'nav-link' %>
              <% if user_signed_in? %>
                <li class='nav-item'>
                  <%= link_to('Завершить работу', destroy_user_session_path, method: :delete, class: 'nav-link') %>
                </li>
              <% else %>
                <li class='nav-item'>
                  <%= link_to('Войти', new_user_session_path, class: 'nav-link')  %>
                </li>
                <li class='nav-item'>
                  <%= link_to('Регистрация', new_user_registration_path, class: 'nav-link')  %>
                </li>
              <% end %>
            </ul>
            </div>
        </div>
      <% end %>

        <%= yield %>


    </div>

    <%= javascript_pack_tag 'fslightbox'%>
  </body>
</html>
